
.nav-father{
    display: flex;
    justify-content: space-between;
    max-width: 1640px;
    margin: 0px auto;
align-items: center;
}
.bass-father{
    display: flex;
    gap:30px;
    list-style: none;
    align-items: center;


}
.btn{
    background-color: red;
    padding:10px 30px;
    border: none;
    border-radius:5px;
    color:white;
    font-weight: bold;

}
.btn:hover{
background-color: blue;
color:black;
}
.bass-father li:hover{
   background-color:rgba(255, 0, 0, 0.158);
   

}
.banner-bassa1{
    max-width: 580px;
    
}
.banner{
    display: flex;
    justify-content: space-between;
    max-width: 1640px;
    margin: 0px auto;
align-items: center;
margin-top: 100px;
margin-bottom: 50px;
}
.banner img{
    width: 100%;
    background-image: url(images/Circle\ design.svg);
    padding:10px;
}

.list{
    list-style: none;
    display: flex;
    justify-content: space-between;
    max-width: 1640px;
    margin: 0px auto;
    
    flex-wrap: wrap;
    margin: 70px;
    border-bottom: 1px solid rgba(192, 204, 218, 1);
    border-top: 1px solid rgba(192, 204, 218, 1);
    padding:30px 0px;
    gap:20px;
    align-items: center;
    margin-left: 120px;
    
}
.list img{
    width: 100%;
    
}
.font-color{
    font-size: 50px;
    font-weight: bold;
}

.main-title{
    max-width: 1640px;
    margin:0px auto ;
}

.main-new-title{
    max-width: 1640px;
    margin:50px auto;
    align-items: center;
    display: flex;
}

.main{
    max-width: 1140px;
    margin:0px auto ;
    /* gap:50px; */
   
    
    
}

.main-father{
     display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:50px ;
    


}

.main-data{
    background-color: #FFFFFF;
    width:330px; 
     height:470px; 
    box-shadow: 0px 0px 5px black;
    padding:10px;
    /* margin:30px */
    /* margin:0px auto; */

}

.div-abba{
    display:flex;
    justify-content: space-between;
    max-width: 1640px;
    margin:0px auto;
    margin-top: 50px;
    margin-bottom: 50px;

    
}

.div-abba img{
    width: 100%;
}
.div-abba div{
    width: 450px;
}

footer{
    background-color: black;
    height: 200px;
}




@media screen and ( max-width: 576px){
    .div-abba div{
    width: 576px;
}
    .div-abba{
        flex-direction: column;
    }
    .main-father{
         grid-template-columns: repeat(1, 1fr);
         display: flex;
         flex-direction: column;
         align-items: center;

    }

    .nav-father{
        flex-direction: column;
        align-items: center;

    }
    .bass-father{
        flex-direction: column;
        align-items: center;
    }
    .banner{
        flex-direction: column-reverse;      
    }
    .banner img{
        margin-bottom: 50px;
    }
    .list{
        margin:0px;
    }
}